.dark-info {
  box-shadow: 0 0 8px 0px $grey;
  background-color: $grey-900;
  padding: 2px 10px;
  color: white;
}

.dark-info {
  box-shadow: 0 0 8px 0px $grey;
  background-color: #333;
  padding: 2px 10px;
  color: white;
}
.dark-info {
  box-shadow: 0 0 8px 0px $grey;
  background-color: #333;
  padding: 2px 10px;
  color: white;
}
.dark-info.left {
  border-left: 4px solid $blue-600;
}
.dark-info.right {
  border-right: 4px solid $blue-600;
}
.dark-info.top {
  border-top: 4px solid $blue-600;
}
.dark-info.bottom {
  border-bottom: 4px solid $blue-600;
}
