@import "material-dashboard/mixins";
@import "material-dashboard/variables";
@import "biliob/dark-info";
// @import "material-dashboard/typography";
// @import "material-dashboard/sidebar";
// @import "material-dashboard/misc";
// @import "material-dashboard/inputs";
// @import "material-dashboard/footer";
// @import "material-dashboard/cards";
// @import "material-dashboard/tables";
// @import "material-dashboard/tabs";
// @import "material-dashboard/checkboxes";
// @import "material-dashboard/tooltips";
// @import "material-dashboard/buttons";
// @import "material-dashboard/alerts";
// @import "material-dashboard/fixed-plugin";
// @import "material-dashboard/dropdown";

.offset {
  background: linear-gradient(60deg, #00000011, #ffffff44);
  min-width: calc(100% - 32px);
  max-width: calc(100% - 32px);
  top: -16px;
  left: 16px;
}
